*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}

body{
    background-color: #99ff99;
}

#container{
    width: 50%;
    margin: auto;
    margin-block: 5%;
    
    display: flex;
    flex-direction: column;
    justify-content: top;
    
    background-color: aliceblue;
}

#container__title{
    text-align: center;
}

#container__menu{
    width: 80%;
    margin-inline: auto;
    margin-top: 2%;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#container__ranking{
    width: 80%;
    margin-inline: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
}

#container__ranking h3{
    text-align: center;
}

#container__ranking table{
    width: 80%;
    margin-inline: auto;
    border-collapse: collapse;
}

#container__ranking table, td, th{
    border: 1px solid black;
}

#container__ranking th{
    text-align: left;
}
